@import url(reset.css);
@import url(theme.css);
@import url(base.css);

/* 카드 컴포넌트 */
.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--small-spacing);
  padding-top: var(--large-spacing);

  /* 제목 */
  h2 {
    font-size: var(--large-text);
    font-weight: 600;

    @media (min-width: 1024px) {
      font-size: var(--extra-large-text);
    }
  }

  /* 부제목 */
  p {
    font-size: var(--base-text);
    font-weight: 400;
    line-height: var(--line-normal);
    text-align: center;

    @media (min-width: 1024px) {
      font-size: var(--medium-text);
    }
  }

  /* 출시일 추후 공개 */
  span {
    display: none;
    font-size: var(--small-text);
    color: var(--gray);
    /* 출시일 추후 공개 하단 여백도 추가 아니면 결과물가 달라보임 */
    margin-bottom: var(--x-small-spacing);

    &.is-show {
      display: block;
    }
  }

  @media (min-width: 1024px) {
    /* 패딩 값이 너무 커서 맥북 에어 부분 백그라운드 이미지가 버튼과 겹침 */
    padding-top: var(--extra-large-spacing);
  }
}

/* 버튼 컴포넌트 */
.link-list {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--base-spacing);

  /* 버튼 공통 */
  .button {
    font-size: var(--xx-small-text);
    padding: var(--x-small-spacing) var(--small-spacing);
    border-radius: var(--base-radius);

    @media (min-width: 1024px) {
      font-size: var(--x-small-text);
    }
  }

  /* 버튼 별 스타일링 */
  .button-primary {
    background-color: var(--blue-300);
    color: var(--white);

    &:hover {
      background-color: var(--blue-200);
    }
  }

  .button-outline-primary {
    border: 1px solid var(--blue-300);
    color: var(--blue-300);

    &:hover {
      background-color: var(--blue-300);
      color: var(--white);
    }
  }

  .button-secondary {
    background-color: var(--black-200);
    color: var(--white);

    &:hover {
      background-color: var(--black-100);
    }
  }

  .button-outline-secondary {
    border: 1px solid var(--black-200);
    color: var(--black-200);

    &:hover {
      background-color: var(--black-200);
      color: var(--white);
    }
  }
}
